%table#genres
  - @genres.each do |genre|
    %tr
      %td
        %span= genre.name
      %td
        %span= image_tag(genre.image)
      %td
        = link_to('Edit', edit_genre_path(genre), :class => 'button radius tiny') if is_admin?
